<section class="flex flex-col max-w-screen-lg justify-between mx-auto gap-16 dark:text-gray-200 overflow-y-hidden px-6 py-12">
  <!-- Seção de Perfil -->
  <div class="flex flex-col gap-5">
    <h1 class="text-3xl font-bold dark:text-white">Perfil</h1>
    <p class="text-justify leading-relaxed dark:text-gray-300">
      Sou Isaac Isvaldo Bunga, um profissional full stack com experiência em todas as etapas do desenvolvimento
      de software, focando em serviços web para mais de mil usuários. Especializo-me em
      desenvolvimento back-end com JavaScript, além de ser proficiente em Node.js e Java.
      No front-end, possuo conhecimentos em Angular. Tenho habilidades na integração de
      APIs e gestão de bancos de dados SQL e NoSQL, aplicando práticas de segurança
      cibernética. Comprometido com a qualidade e atualização constante, também atuo em
      práticas DevOps para implantações eficientes, seguindo padrões de DESIGN Partners e
      Clean Architecture.
    </p>
  </div>

  <!-- Seção de Competências Técnicas -->
  <div class="flex flex-col gap-5">
    <h1 class="text-3xl font-bold dark:text-white">Competências Técnicas</h1>
    <ul class="list-disc ml-5 text-lg leading-relaxed dark:text-gray-300">
      <li>RESTful APIs: Capacidade de projetar e implementar APIs RESTful.</li>
      <li>GraphQL: Conhecimento em GraphQL como alternativa ao REST.</li>
      <li>Autenticação e Autorização: Implementação de OAuth e JWT.</li>
      <li>JavaScript (Node.js, Angular): Proficiente no desenvolvimento full stack.</li>
      <li>SQL & NoSQL: Experiência em bancos de dados relacionais e não relacionais.</li>
      <li>DevOps: Automação de pipeline e integração contínua para implantações ágeis.</li>
    </ul>
  </div>

  <!-- Seção de Experiência Profissional -->
  <div class="flex flex-col gap-5">
    <h1 class="text-3xl font-bold dark:text-white " >Experiência Profissional</h1>
    <div class="flex flex-col gap-6">
      <div>
        <h2 class="text-2xl dark:text-primary-600 ">ITGEST AO, Lda (Luanda, Angola)</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400">04/2024 - Presente</p>
        <p class="mt-1 dark:text-gray-300">
          Full-stack Developer no projeto SIGE da Empresa Nacional de Bilhética Integrada, focado na resolução de problemas,
          desenvolvimento de funcionalidades, e migração de módulos comerciais para novos serviços, garantindo a qualidade e eficiência das implementações.
        </p>
      </div>
      <div>
        <h2 class="text-2xl dark:text-primary-600 ">Mamboo Tecnologia, Lda (Luanda, Angola)</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400">04/2023 - 2024</p>
        <p class="mt-1 dark:text-gray-300">
          Atuei como Back-end Developer, fornecendo suporte à aplicação e desenvolvendo novos recursos para o sistema de um super aplicativo de e-commerce.
        </p>
      </div>
    </div>
  </div>

  <!-- Seção de Projetos Destacados -->
  <div class="flex flex-col gap-5">
    <h1 class="text-3xl font-bold dark:text-white">Projetos Destacados</h1>
    <div class="flex flex-col gap-6">
      <div>
        <h2 class="text-2xl dark:text-primary-600 ">XSIC PT</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400">04/2023 - 2024</p>
        <p class="mt-1 dark:text-gray-300">Atuei como Full-stack Developer, resolvendo problemas e desenvolvendo novas funcionalidades em sistemas já existentes, mantendo o código legado e otimizando processos para melhor eficiência.</p>
      </div>
      <div>
        <h2 class="text-2xl dark:text-primary-600 ">BoilerPlate (ITGest Ao)</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400">2023 - 2024</p>
        <p class="mt-1 dark:text-gray-300">Desenvolvi a versão API do projeto, estruturando a arquitetura e integrando o back-end, garantindo eficiência e segurança da aplicação.</p>
      </div>
      <div>
        <h2 class="text-2xl dark:text-primary-600 ">Unig4Retails (Sonangol vs InvestPrime)</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400">2023 - Presente</p>
        <p class="mt-1 dark:text-gray-300">Desenvolvi uma API dinâmica e escalável para o projeto Unig4Retails, garantindo segurança, desempenho e integração com múltiplos serviços e sistemas externos.</p>
      </div>
    </div>
  </div>

  <!-- Seção de Contato -->
  <div class="flex flex-col md:flex-row gap-10">  
    <!-- Card de Informação de Contato à esquerda -->  
    <div class="w-full md:w-1/2 bg-gray-100 p-6 rounded-md shadow-md dark:bg-gray-800">  
      <h2 class="text-xl font-semibold dark:text-white">Informações de Contato</h2>  
      <div *ngFor="let info of contactInfo" class="mt-4">  
        <h3 class="text-lg font-medium dark:text-white">{{ info.title }}</h3>  
        <p class="text-sm dark:text-gray-200">  
          <a [href]="info.link" class="text-indigo-600 hover:underline break-words dark:text-primary-600">{{ info.desc }}</a>  
        </p>  
      </div>  
    </div>  
  
    <!-- Formulário de Contato à direita -->  
    <div class="w-full md:w-1/2 flex flex-col gap-5">  
      <h1 class="text-2xl font-semibold dark:text-white">Entre em Contato</h1>  
      <form class="flex flex-col gap-4">  
        <div>  
          <label for="name" class="block text-sm font-medium dark:text-white">Nome</label>  
          <input type="text" id="name" name="name" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300">  
        </div>  
  
        <div>  
          <label for="email" class="block text-sm font-medium dark:text-white">Email</label>  
          <input type="email" id="email" name="email" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300">  
        </div>  
  
        <div>  
          <label for="message" class="block text-sm font-medium dark:text-white">Mensagem</label>  
          <textarea id="message" name="message" rows="4" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300"></textarea>  
        </div>  
        
        <button type="submit" class="flex justify-center gap-1 bg-primary rounded-lg px-5 py-2 text-white hover:bg-primary-800 dark:hover:bg-primary-400 items-center w-full">  
          Enviar  
        </button>  
      </form>  
    </div>  
  </div>
</section>
