<section class="flex flex-col max-w-screen-lg justify-between mx-auto gap-16 dark:text-gray-200 overflow-y-hidden">
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-semibold dark:text-white">PERFIL</h1>
    <p class="justify-start">
      Sou Isaac Isvaldo Bunga, um profissional full stack com experiência em todas as etapas do desenvolvimento
      de software, focando em serviços web para mais de mil usuários. Especializo-me em
      desenvolvimento back-end com JavaScript, além de ser proficiente em Node.js e Java.
      No front-end, possuo conhecimentos em Angular. Tenho habilidades na integração de
      APIs e gestão de bancos de dados SQL e NoSQL, aplicando práticas de segurança
      cibernética. Comprometido com a qualidade e atualização constante, também atuo em
      práticas DevOps para implantações eficientes, seguindo padrões de DESIGN Partners e
      Clean Architecture.
    </p>
  </div>

  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-semibold dark:text-white">COMPETÊNCIAS TÉCNICAS</h1>
    <ul class="list-disc ml-5">
      <li>RESTful APIs: Capacidade de projetar e implementar APIs RESTful.</li>
      <li>GraphQL: Conhecimento em GraphQL como alternativa ao REST.</li>
      <li>Autenticação e Autorização: Implementação de OAuth e JWT.</li>
      <li>JavaScript (Node.js, Angular): Proficiente no desenvolvimento full stack.</li>
      <li>SQL & NoSQL: Experiência em bancos de dados relacionais e não relacionais.</li>
      <li>DevOps: Automação de pipeline e integração contínua para implantações ágeis.</li>
    </ul>
  </div>

  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-semibold dark:text-white">EXPERIÊNCIA PROFISSIONAL</h1>
    <div class="flex flex-col gap-3">
      <div>
        <h2 class="text-xl font-semibold">ITGEST AO, Lda (Luanda, Angola)</h2>
        <p class="text-sm">04/2024 - Presente</p>
        <p class="mt-1">Full-stack Developer no projeto SIGE da Empresa Nacional de Bilhética Integrada, focado na resolução de problemas, desenvolvimento de funcionalidades, e migração de módulos comerciais para novos serviços, garantindo a qualidade e eficiência das implementações.</p>
      </div>
        <div>
        <h2 class="text-xl font-semibold">Mamboo Tecnologia, Lda (Luanda, Angola)</h2>
        <p class="text-sm">04/2023 - 2024</p>
        <p class="mt-1">Atuei como Back-end Developer, fornecendo suporte à aplicação e desenvolvendo novos recursos para o sistema de um super aplicativo de e-commerce.</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-semibold dark:text-white">PROJETOS DESTACADOS</h1>
    <div class="flex flex-col gap-3">
    </div>
    <div>
      <h2 class="text-xl font-semibold">XSIC PT</h2>
      <p class="text-sm">04/2023 - 2024</p>
      <p class="mt-1">Atuei como Full-stack Developer, resolvendo problemas e desenvolvendo novas funcionalidades em sistemas já existentes, mantendo o código legado e otimizando processos para melhor eficiência.</p>
    </div>
    <div>
      <h2 class="text-xl font-semibold">BoilerPlate (ITGest Ao)</h2>
      <p class="text-sm">2023 - 2024</p>
      <p class="mt-1">Desenvolvi a versão API do projeto, estruturando a arquitetura e integrando o back-end, garantindo eficiência e segurança da aplicação.</p>
    </div>
    <div>
      <h2 class="text-xl font-semibold">Unig4Retails (Sonangol vs InvestPrime)</h2>
      <p class="text-sm">2023 - Presente</p>
      <p class="mt-1">Desenvolvi uma API dinâmica e escalável para o projeto Unig4Retails, garantindo segurança, desempenho e integração com múltiplos serviços e sistemas externos.</p>
    </div>
    <div>
    </div>
  </div>

  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-semibold dark:text-white">CONTACT INFORMATION</h1>
    <form class="flex flex-col gap-4">
      <div>
        <label for="name" class="block text-sm font-medium dark:text-white">Nome</label>
        <input type="text" id="name" name="name" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

      <div>
        <label for="email" class="block text-sm font-medium dark:text-white">Email</label>
        <input type="email" id="email" name="email" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

      <div>
        <label for="message" class="block text-sm font-medium dark:text-white">Mensagem</label>
        <textarea id="message" name="message" rows="4" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
      </div>

      <button type="submit" class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        Enviar
      </button>
    </form>
  </div>
</section>
